<!DOCTYPE html>
<html>
<head>
    <title>Облік</title>
</head>
<body>

    <h1>Список обладнання</h1>

    <table border="1"> <thead>
            <tr>
                <th>ID</th>
                <th>Назва</th>
                <th>Тип</th>
                <th>Серійний номер</th>
                <th>Статус</th>
                <th>Опис</th>
            </tr>
        </thead>
        <tbody>
            <% items.forEach(function(item) { %>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.name %></td>
                    <td><%= item.type %></td>
                    <td><%= item.serial %></td>
                    <td><%= item.status %></td>
                    <td><%= item.description %></td>
                </tr>
            <% }); %>
            <form action="/add-item" method="POST">
                <input type="number" placeholder="ID" name="id" required>
    <input type="text" name="name" placeholder="Назва пристрою" required>
    
    <select name="type">
        <option value="контролер">Контролер</option>
        <option value="датчик">Датчик</option>
        <option value="модуль">Модуль</option>
    </select>

    <input type="text" name="serial" placeholder="Серійний номер">

    <textarea name="description" placeholder="Технічні характеристики"></textarea>

    <select name="status">
        <option value="вільне">Вільне</option>
        <option value="ремонт">Ремонт</option>
    </select>

    <button type="submit">Додати обладнання</button>
</form>
        </tbody>
    </table>

</body>
</html>